<table>
	<thead>
		<tr>
			<td>Name</td>
			
		</tr>
	</thead>
	<tbody>
	  <% @user.each do |user| %>
        <tr>
        	<td><%= link_to user.name, user_path(user) %></td>
        	<td>
        	  <%= link_to 'Edit', edit_user_path(user) %>
        	  <% if current_user.admin? && ! current_user?(user) %>
              <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure to delete this user?'} %>
              <%= link_to 'Search Users', search_admins_users_path(user) %>
              <% end %>
            
        	</td>
        </tr>
      <% end %>	
	</tbody>
</table>

<%= link_to 'New user', new_user_path %>

